.background-div{
    background-image: url("/blue-pink-polygonal-pattern-abstract-geometric-background-triangular-mosaic-perfect-for-website-mobile-app-advertisement-social-media-free-photo.jpeg");
    background-size: cover;
    background-position: center;
}
